.note-display {
    padding: 20px;
    margin-left: 250px; /* Adjusts based on sidebar width */
    background-color: #f1afaf;
    min-height: calc(100vh - 60px); /* Adjusts height minus the navbar */
    
}

.note-display h1 {
    padding-top: 10px;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    border-style: dashed;
}

.note-display p {
    font-size: 15px;
    color: #333;
    line-height: 1.6;
}